*{
    padding: 0;
    margin: 0;
    /* background-color: tan; */
   /* box-sizing: border-box; */
}
/* The header stylings */
.header{
    height: 50vh;
   min-height: 360px;
    width: 100vw;
     background-image: linear-gradient(rgba(255, 255, 255, 0.233),rgba(255, 255, 255, 0.233)),url(../imgs/background1.jpg);
     background-size: cover;
     background-position: bottom left;
     background-attachment: fixed;
    
}
.header .logo{
    color:#fff;
    text-shadow: 0.5px 0.5px 20px black;
    padding: 1rem;
}
.login-btn{
    width:calc(5rem + .25vw) ;/*100px desktopview */
   padding: calc(.2rem + .25vw)  ; /* 8px */
   /* width: 100px; */
  transform: TranslateY(1.6rem)  ;
    outline: none;
    border: 2px solid rgb(27, 27, 112);
    border-radius: 50px;
   background: transparent;
}

/* //////////// */
.container0{
    display: flex;
    padding: .5rem 1.2rem;
    align-items: flex-start;
    align-content: space-around;
}
.logo{
    flex: 1;
    
}

.hd-overlay{
    text-align: center;
    color: rgb(15, 15, 66);
    padding: 0 1.2rem;
}
.hd-overlay h1{
    padding-top:8% ;
    padding-bottom:1rem ;
    font-size: calc(2rem + .5vw);
}
.input-group{
     
    position: relative;
    margin: auto;
    width: 90vw;
    
    max-width: 500px;
    margin-top: 1rem;
}
.form-control , .search-btn {
    outline: none;
    border: 0;
    border-radius: 30px;
  
}
.form-control{
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
      line-height: 3;
}
.search-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 29%;
    border: 2px solid white;
    color: white;
    line-height: 2.75;
    background-image: linear-gradient(rgb(175, 174, 236),blue);
}
/* The featurs section */
.features{
    padding: calc(2rem + 1.5vw)  1.2rem;
}
.features h1{
    text-align: center;
    padding-bottom: 2rem;
}
/* .fearure-img img{
    max-width: 100%;
} */
.price{
    width: 3.125rem;
    height: 3.125rem;
    background-color: #ff5722;
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    line-height: 3;
    box-shadow: 0 0 10px 1px rgba(37, 73,214, .18);
}